fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
email-validator
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0
numpy
pandas>=2.2.0
pandas-ta>=0.3.14b0
ccxt
matplotlib
schedule
httpx
python-dotenv
vectorbt
numba
